<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/banners">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Banners</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/posts">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Posts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Services</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Kategoriyalar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Comments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Profil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="mdi mdi-logout menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
      </ul>
    </nav>